openapi: 3.0.3
info:
  title: Amulet Public API
  version: "2.0.0"
  description: |
    OpenAPI-спецификация публичного HTTPS API `/v2`, реализованного на Supabase Edge Functions.
    Аутентификация — Supabase Access Token (Bearer JWT), CAPTCHA-токен обязателен для публичных операций без аутентификации.

    Спецификация публикуется через Supabase Storage и синхронизируется с Supabase stack.

    Примечание: внутренние и тестовые эндпоинты (например, `/v2/rules.tick`) умышленно
    не включены в публичную спецификацию и предназначены только для внутренних нужд и автоматических тестов.
  contact:
    name: Amulet API Team
    email: api@amulet.app
    url: https://amulet.app/developers
servers:
  - url: https://api.amulet.app/v2
    description: Production (Supabase Edge Functions)
  - url: https://{projectRef}.supabase.co/functions/v1
    description: Supabase Functions (custom project)
    variables:
      projectRef:
        default: amulet
  - url: https://api.amulet.app/functions/v1
    description: Local Supabase Development
tags:
  - name: users
  - name: devices
  - name: hugs
  - name: pairs
  - name: library
  - name: patterns
  - name: sessions
  - name: stats
  - name: rules
  - name: webhooks
  - name: notifications
  - name: ota
  - name: telemetry
  - name: admin
    description: |
      Административные эндпоинты. Доступ требуют специальные роли в custom claims токена.
      По умолчанию требуется роль администратора (`admin: true`).
      Отдельные эндпоинты дополнительно доступны модераторам (`moderator: true`).
  - name: privacy
security:
  - BearerAuth: []
paths:
  /users.me.init:
    post:
      tags: [users]
      summary: Инициализация профиля текущего пользователя
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInitRequest'
            examples:
              empty:
                summary: Пустое тело допустимо
                value: {}
              withData:
                summary: Инициализация с частью полей
                value:
                  displayName: "Alex"
                  timezone: "Europe/Moscow"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.me:
    get:
      tags: [users]
      summary: Получить профиль текущего пользователя
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    patch:
      tags: [users]
      summary: Обновить профиль пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.me.avatar:
    post:
      tags: [users]
      summary: Загрузить или обновить аватар пользователя
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAvatarUploadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  avatarUrl:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.pushToken:
    get:
      tags: [users]
      summary: Получить список push-токенов текущего пользователя
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPushToken'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [users]
      summary: Зарегистрировать push-токен
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPushTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPushToken'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.pushToken/{tokenId}:
    delete:
      tags: [users]
      summary: Удалить push-токен пользователя
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: tokenId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPushToken'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.consents:
    post:
      tags: [users]
      summary: Обновить согласия пользователя
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConsentsUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.settings:
    post:
      tags: [users]
      summary: Обновить пользовательские настройки
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingsUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.invite:
    post:
      tags: [users]
      summary: Отправить приглашение по email
      description: Для анонимных вызовов необходим валидный CAPTCHA токен.
      security:
        - CaptchaToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInviteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                      status:
                        type: string
                      userId:
                        type: string
                        nullable: true
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.me/delete:
    post:
      tags: [users]
      summary: Запрос на удаление аккаунта (асинхронно)
      deprecated: true
      description: |
        Эндпоинт устарел. Используйте каноничный эндпоинт `POST /v1/privacy/delete`,
        который входит в функциональность GDPR и предоставляет единый поток удаления данных.
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  message:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '412': { $ref: '#/components/responses/PreconditionFailedError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /devices.claim:
    post:
      tags: [devices]
      summary: Привязать устройство к аккаунту
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceClaimRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices:
    get:
      tags: [devices]
      summary: Список устройств текущего пользователя
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices/{id}:
    get:
      tags: [devices]
      summary: Детали устройства
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    patch:
      tags: [devices]
      summary: Обновить настройки устройства
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices/{id}/unclaim:
    post:
      tags: [devices]
      summary: Отвязать устройство
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /hugs.send:
    post:
      tags: [hugs]
      summary: Отправить «объятие»
      description: |
        **Rate Limit:** 50 запросов в минуту на пользователя.
        При превышении лимита возвращается 429 с заголовком `Retry-After`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HugSendRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hugId:
                    type: string
                  delivered:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '412': { $ref: '#/components/responses/HugsPreconditionFailedError' }
        '429': { $ref: '#/components/responses/ResourceExhaustedError' }
  /hugs:
    get:
      tags: [hugs]
      summary: История «объятий»
      parameters:
        - in: query
          name: filter
          schema:
            type: string
            enum: [all, sent, received]
            default: all
          description: Фильтр направления объятий
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hugs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hug'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      total:
                        type: integer
                        nullable: true
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /hugs/{hugId}:
    get:
      tags: [hugs]
      summary: Детали «объятия»
      parameters:
        - in: path
          name: hugId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hug:
                    $ref: '#/components/schemas/Hug'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /hugs/pending:
    get:
      tags: [hugs]
      summary: Неполученные «объятия» для offline-синхронизации
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hugs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hug'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /hugs/{hugId}/acknowledge:
    post:
      tags: [hugs]
      summary: Подтверждение воспроизведения объятия на устройстве
      parameters:
        - in: path
          name: hugId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HugAcknowledgeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [acknowledged]
        '400':
          description: Invalid argument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /pairs.invite:
    post:
      tags: [pairs]
      summary: Пригласить партнёра
      description: |
        **Rate Limit:** Ограничено количество активных приглашений (максимум 10 одновременно).
        При превышении лимита возвращается 429.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PairInviteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  inviteId:
                    type: string
                  url:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /pairs.accept:
    post:
      tags: [pairs]
      summary: Принять приглашение
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PairAcceptRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pair:
                    $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '409': { $ref: '#/components/responses/AlreadyExistsError' }
        '412': { $ref: '#/components/responses/PreconditionFailedError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /pairs:
    get:
      tags: [pairs]
      summary: Список пар
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /pairs/{pairId}/block:
    post:
      tags: [pairs]
      summary: Заблокировать пару
      parameters:
        - in: path
          name: pairId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pair:
                    $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /pairs/{pairId}/unblock:
    post:
      tags: [pairs]
      summary: Разблокировать пару
      parameters:
        - in: path
          name: pairId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pair:
                    $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /pairs/{pairId}/stats:
    get:
      tags: [pairs]
      summary: Статистика пары
      description: Получить агрегированную статистику объятий для пары
      parameters:
        - in: path
          name: pairId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairStats'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /practices:
    get:
      tags: [library]
      summary: Каталог практик
      parameters:
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: lang
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Practice'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /practices/{practiceId}:
    get:
      tags: [library]
      summary: Детали практики
      parameters:
        - in: path
          name: practiceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  practice:
                    $ref: '#/components/schemas/Practice'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /patterns:
    get:
      tags: [patterns]
      summary: Публичные паттерны
      parameters:
        - in: query
          name: hardwareVersion
          schema:
            type: integer
        - in: query
          name: kind
          schema:
            type: string
        - in: query
          name: tags
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pattern'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [patterns]
      summary: Создать пользовательский паттерн
      description: |
        При создании паттерна с полем `public: true` ему автоматически присваивается статус модерации `reviewStatus: "pending"`.
        Такой паттерн не отображается в публичном каталоге до одобрения администратором.
        
        **Rate Limit:** Ограничено количество создаваемых паттернов в минуту.
        При превышении лимита возвращается 429.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  pattern:
                    $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /patterns.mine:
    get:
      tags: [patterns]
      summary: Мои паттерны
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /patterns/{id}:
    get:
      tags: [patterns]
      summary: Детали паттерна
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pattern:
                    $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    patch:
      tags: [patterns]
      summary: Обновить паттерн
      description: |
        Для публичных паттернов при изменении полей, влияющих на контент (например, `spec`, `title`, `public` и др.),
        статус модерации автоматически сбрасывается на `reviewStatus: "pending"`. До повторного одобрения паттерн
        временно пропадает из публичного каталога.
        
        **Оптимистическая блокировка:** Поле `version` в запросе **обязательно** и должно совпадать с текущей версией паттерна на сервере.
        При несовпадении версий возвращается ошибка 409 Conflict с деталями о текущей и переданной версии.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pattern:
                    $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '409': { $ref: '#/components/responses/PatternConflictError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    delete:
      tags: [patterns]
      summary: Удалить паттерн
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /patterns/{patternId}/share:
    post:
      tags: [patterns]
      summary: Поделиться паттерном с партнёром
      description: |
        **Ограничения:**
        - Нельзя шарить паттерны со статусом `reviewStatus: "rejected"`
        - Публичные паттерны не требуют шаринга
        - Только владелец может расшарить паттерн
        
        При попытке расшарить отклонённый паттерн возвращается ошибка `failed_precondition (412)`.
      parameters:
        - in: path
          name: patternId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternShareRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  shared:
                    type: boolean
        '412': { $ref: '#/components/responses/PreconditionFailedError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /patterns/{id}/collaborators:
    post:
      tags: [patterns]
      summary: Управление коллабораторами паттерна
      description: Добавить или удалить коллабораторов для совместного редактирования паттерна
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternCollaboratorsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [updated]
                  collaborators:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid argument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '409': { $ref: '#/components/responses/AlreadyExistsError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /patterns/preview:
    post:
      tags: [patterns]
      summary: Предпросмотр паттерна на устройстве
      description: |
        **Rate Limit:** Ограничено количество запросов предпросмотра в минуту.
        При превышении лимита возвращается 429.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternPreviewRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  previewId:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /practices/{practiceId}/start:
    post:
      tags: [sessions]
      summary: Старт сессии практики
      parameters:
        - in: path
          name: practiceId
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PracticeStartRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /practices.session/{sessionId}/stop:
    post:
      tags: [sessions]
      summary: Остановка сессии
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PracticeStopRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    $ref: '#/components/schemas/PracticeSummary'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /stats/overview:
    get:
      tags: [stats]
      summary: Обзорная статистика
      parameters:
        - in: query
          name: range
          required: false
          schema:
            type: string
            enum: [day, week, month]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totals:
                    type: object
                  streaks:
                    type: object
                  range:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /rules:
    get:
      tags: [rules]
      summary: Список правил
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rule'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [rules]
      summary: Создать правило
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/Rule'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /rules/{ruleId}:
    patch:
      tags: [rules]
      summary: Обновить правило
      parameters:
        - in: path
          name: ruleId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/Rule'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    delete:
      tags: [rules]
      summary: Удалить правило
      parameters:
        - in: path
          name: ruleId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /webhooks/{integrationKey}:
    post:
      tags: [webhooks]
      summary: Входящий вебхук триггера
      security: []
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /notifications.tokens:
    post:
      tags: [notifications]
      summary: Зарегистрировать OneSignal playerId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTokenRegisterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    delete:
      tags: [notifications]
      summary: Отвязать OneSignal playerId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTokenRevokeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /ota/firmware/latest:
    get:
      tags: [ota]
      summary: Проверка обновления прошивки
      parameters:
        - in: query
          name: hardware
          required: true
          schema:
            type: integer
        - in: query
          name: currentFirmware
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content — обновление не требуется
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareInfo'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices/{deviceId}/firmware/report:
    post:
      tags: [ota]
      summary: Отчёт об установке прошивки
      parameters:
        - in: path
          name: deviceId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareReportRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /telemetry/events:
    post:
      tags: [telemetry]
      summary: Пакет событий телеметрии
      parameters:
        - in: header
          name: X-Device-Id
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryEventsRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetryAcceptedResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/practices:
    get:
      tags: [admin]
      summary: Модерация контента (фильтр по статусу)
      description: |
        Доступно администраторам (`admin: true`) и модераторам (`moderator: true`).
      x-roles:
        - admin
        - moderator
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: OK
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [admin]
      summary: Создать/обновить контент практик
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/patterns:
    get:
      tags: [admin]
      summary: Список паттернов для модерации
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: query
          name: reviewStatus
          schema:
            type: string
            enum: [pending, approved, rejected]
        - in: query
          name: kind
          schema:
            type: string
            enum: [light, haptic, combo]
        - in: query
          name: tags
          schema:
            type: string
        - in: query
          name: hardwareVersion
          schema:
            type: integer
            enum: [100, 200]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pattern'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/patterns/{id}:
    get:
      tags: [admin]
      summary: Получить паттерн (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
    patch:
      tags: [admin]
      summary: Редактировать паттерн (админ)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
    delete:
      tags: [admin]
      summary: Удалить паттерн (админ)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
  /admin/patterns/{id}/review:
    post:
      tags: [admin]
      summary: Апрув/реджект пользовательского паттерна
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [approve, reject]
                reason:
                  type: string
              required: [action]
      responses:
        '200':
          description: OK
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/devices:
    get:
      tags: [admin]
      summary: Поиск устройств
      parameters:
        - in: query
          name: ownerId
          schema:
            type: string
        - in: query
          name: serial
          schema:
            type: string
        - in: query
          name: hardwareVersion
          schema:
            type: integer
        - in: query
          name: status
          schema:
            type: string
            enum: [online, offline, charging, error, banned]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/devices/{deviceId}/ban:
    post:
      tags: [admin]
      summary: Заблокировать устройство (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: deviceId
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Причина блокировки
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/devices/{deviceId}/unban:
    post:
      tags: [admin]
      summary: Разблокировать устройство (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: deviceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/firmware:
    post:
      tags: [admin]
      summary: Публикация новой прошивки (метаданные)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version: { type: string }
                hardwareVersion: { type: integer, enum: [100, 200] }
                notes: { type: string }
                url: { type: string }
                checksum: { type: string }
                minFirmwareVersion: { type: string }
                maxFirmwareVersion: { type: string }
              required: [version, hardwareVersion, url, checksum]
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  firmware:
                    $ref: '#/components/schemas/AdminFirmwareInfo'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    get:
      tags: [admin]
      summary: Список прошивок (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: query
          name: hardwareVersion
          schema:
            type: integer
            enum: [100, 200]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminFirmwareInfo'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/firmware/{id}:
    patch:
      tags: [admin]
      summary: Обновить прошивку (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes: { type: string }
                isPublished: { type: boolean }
                rolloutStage: { type: string, nullable: true }
                metadata: { type: object }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  firmware:
                    $ref: '#/components/schemas/AdminFirmwareInfo'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    delete:
      tags: [admin]
      summary: Удалить прошивку (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/ota-jobs:
    get:
      tags: [admin]
      summary: Список OTA задач (админ)
      description: |
        Требуется роль администратора (`admin: true`).
        Возвращает список всех OTA rollout задач с возможностью фильтрации.
      x-roles:
        - admin
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, in_progress, completed, failed, cancelled]
          description: Фильтр по статусу задачи
        - in: query
          name: firmwareId
          schema:
            type: string
          description: Фильтр по ID прошивки
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        firmwareId: { type: string }
                        rolloutPercentage: { type: integer }
                        status: { type: string }
                        scheduledFor: { type: string, format: date-time, nullable: true }
                        startedAt: { type: string, format: date-time, nullable: true }
                        completedAt: { type: string, format: date-time, nullable: true }
                        metadata: { type: object }
                        createdAt: { type: string, format: date-time }
                        updatedAt: { type: string, format: date-time }
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [admin]
      summary: Создать OTA задачу (админ)
      description: |
        Требуется роль администратора (`admin: true`).
        Создаёт новую задачу для развёртывания прошивки.
      x-roles:
        - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firmwareId:
                  type: string
                  description: ID прошивки для развёртывания
                rolloutPercentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                  default: 100
                  description: Процент устройств для развёртывания
                scheduledFor:
                  type: string
                  format: date-time
                  nullable: true
                  description: Время запуска (null = немедленно)
                metadata:
                  type: object
                  description: Дополнительные метаданные
              required: [firmwareId]
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  status:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/ota-jobs/{jobId}:
    get:
      tags: [admin]
      summary: Получить детали OTA задачи (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  job:
                    type: object
                    properties:
                      id: { type: string }
                      firmwareId: { type: string }
                      rolloutPercentage: { type: integer }
                      status: { type: string }
                      scheduledFor: { type: string, format: date-time, nullable: true }
                      startedAt: { type: string, format: date-time, nullable: true }
                      completedAt: { type: string, format: date-time, nullable: true }
                      metadata: { type: object }
                      createdAt: { type: string, format: date-time }
                      updatedAt: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    patch:
      tags: [admin]
      summary: Обновить статус OTA задачи (админ)
      description: |
        Требуется роль администратора (`admin: true`).
        Позволяет изменить статус задачи (например, отменить).
      x-roles:
        - admin
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [cancelled]
                  description: Новый статус (только отмена)
              required: [status]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/stats/overview:
    get:
      tags: [admin]
      summary: Общая статистика (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStatsOverviewResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/stats/aggregate:
    post:
      tags: [admin]
      summary: Ручная агрегация статистики (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/roles/assign:
    post:
      tags: [admin]
      summary: Назначить/отозвать роль пользователю (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uid: { type: string }
                role: { type: string, enum: [admin, moderator] }
                value: { type: boolean }
              required: [uid, role]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/roles/users:
    get:
      tags: [admin]
      summary: Пользователи с ролью (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: query
          name: role
          required: true
          schema:
            type: string
            enum: [admin, moderator]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/roles/{uid}:
    get:
      tags: [admin]
      summary: Роли пользователя (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserRolesResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/versions:
    post:
      tags: [admin]
      summary: Создать новую версию секрета вебхука
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      secretPreview:
                        type: string
                      fullSecret:
                        type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    get:
      tags: [admin]
      summary: Список версий секретов вебхука
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      rotationEnabled:
                        type: boolean
                      rotationIntervalDays:
                        type: integer
                        nullable: true
                      lastRotationAt:
                        type: string
                        format: date-time
                        nullable: true
                      nextRotationAt:
                        type: string
                        format: date-time
                        nullable: true
                      versions:
                        type: array
                        items:
                          type: object
                          properties:
                            version:
                              type: integer
                            isActive:
                              type: boolean
                            createdAt:
                              type: string
                              format: date-time
                            activatedAt:
                              type: string
                              format: date-time
                              nullable: true
                            deactivatedAt:
                              type: string
                              format: date-time
                              nullable: true
                            usageCount:
                              type: integer
                            lastUsedAt:
                              type: string
                              format: date-time
                              nullable: true
                            secretPreview:
                              type: string
                              nullable: true
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/versions/{version}/activate:
    post:
      tags: [admin]
      summary: Активировать версию секрета (ротация)
      description: |
        Активирует указанную версию секрета как текущую для интеграции.
        Предыдущий активный секрет продолжает считаться валидным в течение ограниченного периода (grace period)
        после активации, чтобы обеспечить плавную миграцию клиентов. В течение grace period запросы,
        подписанные старым секретом, продолжают приниматься (например, могут возвращать 202 Accepted);
        по истечении периода старый секрет становится недействительным.
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
        - in: path
          name: version
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      version:
                        type: integer
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/rotation/enable:
    post:
      tags: [admin]
      summary: Включить автоматическую ротацию секретов
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                intervalDays:
                  type: integer
                  minimum: 1
              required: [intervalDays]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      intervalDays:
                        type: integer
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/rotation/disable:
    post:
      tags: [admin]
      summary: Отключить автоматическую ротацию секретов
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/audit:
    get:
      tags: [admin]
      summary: Журнал аудита операций с секретами вебхуков
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
        - in: query
          name: integrationKey
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      logs:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/export:
    post:
      tags: [privacy]
      summary: Запросить экспорт персональных данных
      responses:
        '200':
          description: OK (задача уже существует)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyExportCreateResponse'
        '202':
          description: Accepted (создана новая задача экспорта)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyExportCreateResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/export/{jobId}:
    get:
      tags: [privacy]
      summary: Получить статус экспорта данных
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyExportStatusResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/delete:
    post:
      tags: [privacy]
      summary: Запросить удаление персональных данных
      responses:
        '200':
          description: OK (задача уже существует)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyDeletionCreateResponse'
        '202':
          description: Accepted (создана новая задача удаления данных)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyDeletionCreateResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/audit:
    get:
      tags: [privacy]
      summary: Получить журнал аудита операций с данными
      parameters:
        - in: query
          name: operation
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/rights:
    get:
      tags: [privacy]
      summary: Получить информацию о правах пользователя (privacy)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRightsResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase access token (JWT)
    CaptchaToken:
      type: apiKey
      in: header
      name: X-Captcha-Token
      description: CAPTCHA proof (Turnstile/hCaptcha)
  schemas:
    Timestamp:
      type: string
      format: date-time
      description: |
        Метка времени в формате ISO 8601 (Supabase/PostgreSQL).
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
    TelemetryAcceptedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            accepted:
              type: integer
    PrivacyExportCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            jobId:
              type: string
            status:
              type: string
            estimatedCompletionTime:
              type: string
              description: Примерное время готовности, например "24 hours"
    PrivacyExportStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            jobId:
              type: string
            status:
              type: string
            createdAt:
              $ref: '#/components/schemas/Timestamp'
            downloadUrl:
              type: string
              nullable: true
            fileSize:
              type: integer
              nullable: true
            errorMessage:
              type: string
              nullable: true
            expiresAt:
              $ref: '#/components/schemas/Timestamp'
    PrivacyRightsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            userId:
              type: string
            rights:
              type: object
              properties:
                dataExport:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                dataDeletion:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                    warning: { type: string }
                dataPortability:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    format: { type: string }
                dataRectification:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                dataRestriction:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                auditLog:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
            lastUpdated:
              type: string
              format: date-time
            compliance:
              type: object
              properties:
                gdpr: { type: boolean }
                ccpa: { type: boolean }
                coppa: { type: boolean }
    PrivacyDeletionCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            jobId:
              type: string
            status:
              type: string
            estimatedCompletionTime:
              type: string
              description: Примерное время завершения (например, "7 days")
            warning:
              type: string
    User:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        avatarUrl:
          type: string
        timezone:
          type: string
        language:
          type: string
        consents:
          $ref: '#/components/schemas/UserConsents'
        settings:
          $ref: '#/components/schemas/UserSettings'
        pushTokens:
          type: array
          items:
            $ref: '#/components/schemas/UserPushToken'
        isDeleted:
          type: boolean
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
    UserInitRequest:
      type: object
      description: |
        Все поля необязательны. Пустое тело `{}` допустимо и корректно инициализирует профиль по умолчанию.
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 200
        timezone:
          type: string
          minLength: 1
          maxLength: 100
        language:
          type: string
          minLength: 2
          maxLength: 10
        consents:
          $ref: '#/components/schemas/UserConsentsInput'
        settings:
          $ref: '#/components/schemas/UserSettings'
    UserUpdateRequest:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 200
        avatarUrl:
          type: string
          format: uri
          maxLength: 2000
        timezone:
          type: string
          minLength: 1
          maxLength: 100
        language:
          type: string
          minLength: 2
          maxLength: 10
        consents:
          $ref: '#/components/schemas/UserConsentsInput'
        settings:
          $ref: '#/components/schemas/UserSettings'
    UserConsents:
      type: object
      properties:
        marketing:
          type: boolean
        analytics:
          type: boolean
        notifications:
          type: boolean
        updatedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    UserConsentsInput:
      type: object
      properties:
        marketing:
          type: boolean
        analytics:
          type: boolean
        notifications:
          type: boolean
      additionalProperties: false
    UserConsentsUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/UserConsentsInput'
        - type: object
          minProperties: 1
    UserSettings:
      type: object
      additionalProperties: true
    UserSettingsUpdateRequest:
      type: object
      required: [settings]
      properties:
        settings:
          $ref: '#/components/schemas/UserSettings'
    UserAvatarUploadRequest:
      type: object
      required: [filename, contentType, base64]
      properties:
        filename:
          type: string
          minLength: 1
          maxLength: 200
        contentType:
          type: string
          minLength: 1
          maxLength: 100
        base64:
          type: string
          description: Base64-представление бинарных данных изображения
    UserPushToken:
      type: object
      properties:
        id:
          type: string
        token:
          type: string
        platform:
          type: string
          nullable: true
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        lastSeenAt:
          type: string
          format: date-time
          nullable: true
    UserPushTokenRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          minLength: 10
          maxLength: 4096
        platform:
          type: string
          nullable: true
        lastSeenAt:
          type: string
          format: date-time
          nullable: true
    UserInviteRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        metadata:
          type: object
          additionalProperties: true
        redirectTo:
          type: string
          format: uri

    Device:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
        serial:
          type: string
        hardwareVersion:
          type: integer
        firmwareVersion:
          type: string
        name:
          type: string
        batteryLevel:
          type: number
        status:
          type: string
        pairedAt:
          $ref: '#/components/schemas/Timestamp'
        settings:
          type: object
          properties:
            brightness:
              type: number
            haptics:
              type: number
            gestures:
              type: object
    DeviceClaimRequest:
      type: object
      required: [serial, claimToken]
      properties:
        serial:
          type: string
        claimToken:
          type: string
        name:
          type: string
    DeviceUpdateRequest:
      type: object
      properties:
        name:
          type: string
        settings:
          type: object

    Hug:
      type: object
      properties:
        id:
          type: string
        fromUserId:
          type: string
        toUserId:
          type: string
        pairId:
          type: string
        emotion:
          type: object
          properties:
            color:
              type: string
            patternId:
              type: string
        payload:
          type: object
        inReplyToHugId:
          type: string
        deliveredAt:
          $ref: '#/components/schemas/Timestamp'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
    HugSendRequest:
      type: object
      description: At least one of toUserId or pairId must be provided.
      required: [emotion]
      anyOf:
        - required: [toUserId]
        - required: [pairId]
      properties:
        toUserId:
          type: string
          description: UUID получателя объятия
        pairId:
          type: string
          description: UUID пары
        emotion:
          type: object
          required: [color, patternId]
          properties:
            color:
              type: string
              pattern: '^#[0-9A-Fa-f]{6}$'
              description: Hex-цвет эмоции
            patternId:
              type: string
              description: UUID паттерна
        payload:
          type: object
          description: Дополнительные данные
        inReplyTo:
          type: string
          description: UUID объятия, на которое отвечаем
        autoSharePattern:
          type: boolean
          default: true
          description: Автоматически расшарить паттерн с получателем
    
    HugAcknowledgeRequest:
      type: object
      required: [deviceId, playedAt]
      properties:
        deviceId:
          type: string
          description: UUID устройства, на котором воспроизведено
        playedAt:
          type: string
          format: date-time
          description: Время воспроизведения
    
    HugPushPayload:
      type: object
      description: Структура данных, передаваемых через OneSignal при отправке объятия
      properties:
        type:
          type: string
          enum: [hug]
        hugId:
          type: string
        emotion:
          type: object
          properties:
            color:
              type: string
            patternId:
              type: string
        fromUser:
          type: object
          properties:
            id:
              type: string
            displayName:
              type: string
            avatarUrl:
              type: string
              nullable: true
        pairId:
          type: string
          nullable: true
        inReplyTo:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
        patternSpec:
          allOf:
            - $ref: '#/components/schemas/PatternSpec'
          description: Inline-спецификация паттерна (если < 5KB)
          nullable: true

    Pair:
      type: object
      properties:
        id:
          type: string
        memberIds:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, pending, blocked]
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        blockedBy:
          type: string
          description: UID пользователя, который инициировал блокировку
        blockedAt:
          $ref: '#/components/schemas/Timestamp'
    PairInviteRequest:
      type: object
      required: [method]
      properties:
        method:
          type: string
          enum: [link, qr, email]
        target:
          type: string
    PairAcceptRequest:
      type: object
      required: [inviteId]
      properties:
        inviteId:
          type: string
    
    PairStats:
      type: object
      properties:
        pairId:
          type: string
        totalHugs:
          type: integer
          description: Общее количество объятий
        deliveredCount:
          type: integer
          description: Количество доставленных объятий
        pendingCount:
          type: integer
          description: Количество ожидающих доставки
        avgDeliveryTimeSec:
          type: number
          nullable: true
          description: Среднее время доставки в секундах
        emotionsDistribution:
          type: object
          additionalProperties:
            type: integer
          description: Распределение объятий по цветам эмоций
        lastHugAt:
          type: string
          format: date-time
          nullable: true
        firstHugAt:
          type: string
          format: date-time
          nullable: true

    Practice:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [breath, meditation, sound]
        title:
          type: string
        desc:
          type: string
        durationSec:
          type: integer
        patternId:
          type: string
        audioUrl:
          type: string
        locales:
          type: object
    PracticeStartRequest:
      type: object
      properties:
        deviceId:
          type: string
        intensity:
          type: number
        brightness:
          type: number
    PracticeStopRequest:
      type: object
      required: [completed]
      properties:
        completed:
          type: boolean
        durationSec:
          type: integer
    PracticeSummary:
      type: object
      properties:
        durationSec:
          type: integer
        completed:
          type: boolean

    Pattern:
      type: object
      properties:
        id:
          type: string
        version:
          type: integer
          description: Версия для оптимистической блокировки (атомарно инкрементируется при каждом PATCH)
        ownerId:
          type: string
          nullable: true
          description: Может отсутствовать для системных (публичных) паттернов
        kind:
          type: string
          enum: [light, haptic, combo]
        spec:
          $ref: '#/components/schemas/PatternSpec'
        public:
          type: boolean
        reviewStatus:
          type: string
        hardwareVersion:
          type: integer
        title:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        usageCount:
          type: integer
        sharedWith:
          type: array
          items:
            type: string
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
    PatternSpec:
      type: object
      properties:
        type:
          type: string
          enum: [breathing, pulse, rainbow, fire, gradient, chase, custom]
        hardwareVersion:
          type: integer
          enum: [100, 200]
        duration:
          type: integer
        loop:
          type: boolean
        elements:
          type: array
          items:
            $ref: '#/components/schemas/PatternElement'
    # Полиморфный элемент паттерна
    PatternElement:
      oneOf:
        - $ref: '#/components/schemas/PatternElementGradient'
        - $ref: '#/components/schemas/PatternElementPulse'
        - $ref: '#/components/schemas/PatternElementBreathing'
        - $ref: '#/components/schemas/PatternElementChase'
        - $ref: '#/components/schemas/PatternElementColor'
        - $ref: '#/components/schemas/PatternElementCustom'
        - $ref: '#/components/schemas/PatternElementSequence'
[...]
