openapi: 3.0.3
info:
  title: Amulet Public API
  version: "1.0.0"
  description: |
    OpenAPI-спецификация публичного HTTPS API `/v1` (Firebase Cloud Functions).
    Аутентификация — Firebase ID Token (Bearer), App Check — обязательный для мобильных клиентов.
    
    Эта спецификация публикуется на Firebase Hosting для разработчиков.
    
    Примечание: внутренние и тестовые эндпоинты (например, `/v1/rules.tick`) умышленно
    не включены в публичную спецификацию и предназначены только для внутренних нужд и автоматических тестов.
servers:
  - url: https://api.amulet.app/v1
    description: Production
  - url: https://{region}-{project}.cloudfunctions.net/api/v1
    variables:
      region:
        default: europe-west1
      project:
        default: amulet
  - url: /v1
    description: Local Development
tags:
  - name: users
  - name: devices
  - name: hugs
  - name: pairs
  - name: library
  - name: patterns
  - name: sessions
  - name: stats
  - name: rules
  - name: webhooks
  - name: notifications
  - name: ota
  - name: telemetry
  - name: admin
    description: |
      Административные эндпоинты. Доступ требуют специальные роли в custom claims токена.
      По умолчанию требуется роль администратора (`admin: true`).
      Отдельные эндпоинты дополнительно доступны модераторам (`moderator: true`).
  - name: privacy
security:
  - BearerAuth: []
paths:
  /users.me.init:
    post:
      tags: [users]
      summary: Инициализация профиля текущего пользователя
      security:
        - BearerAuth: []
          AppCheck: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInitRequest'
            examples:
              empty:
                summary: Пустое тело допустимо
                value: {}
              withData:
                summary: Инициализация с частью полей
                value:
                  displayName: "Alex"
                  timezone: "Europe/Moscow"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.me:
    get:
      tags: [users]
      summary: Получить профиль текущего пользователя
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    patch:
      tags: [users]
      summary: Обновить профиль пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /users.me/delete:
    post:
      tags: [users]
      summary: Запрос на удаление аккаунта (асинхронно)
      deprecated: true
      description: |
        Эндпоинт устарел. Используйте каноничный эндпоинт `POST /v1/privacy/delete`,
        который входит в функциональность GDPR и предоставляет единый поток удаления данных.
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  message:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '412': { $ref: '#/components/responses/PreconditionFailedError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /devices.claim:
    post:
      tags: [devices]
      summary: Привязать устройство к аккаунту
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceClaimRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices:
    get:
      tags: [devices]
      summary: Список устройств текущего пользователя
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices/{id}:
    get:
      tags: [devices]
      summary: Детали устройства
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    patch:
      tags: [devices]
      summary: Обновить настройки устройства
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices/{id}/unclaim:
    post:
      tags: [devices]
      summary: Отвязать устройство
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /hugs.send:
    post:
      tags: [hugs]
      summary: Отправить «объятие»
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HugSendRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hugId:
                    type: string
                  delivered:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '412': { $ref: '#/components/responses/HugsPreconditionFailedError' }
        '429': { $ref: '#/components/responses/ResourceExhaustedError' }
  /hugs:
    get:
      tags: [hugs]
      summary: История «объятий»
      parameters:
        - in: query
          name: direction
          required: true
          schema:
            type: string
            enum: [sent, received]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hug'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /hugs/{hugId}:
    get:
      tags: [hugs]
      summary: Детали «объятия»
      parameters:
        - in: path
          name: hugId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hug:
                    $ref: '#/components/schemas/Hug'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /pairs.invite:
    post:
      tags: [pairs]
      summary: Пригласить партнёра
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PairInviteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  inviteId:
                    type: string
                  url:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /pairs.accept:
    post:
      tags: [pairs]
      summary: Принять приглашение
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PairAcceptRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pair:
                    $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '409': { $ref: '#/components/responses/AlreadyExistsError' }
        '412': { $ref: '#/components/responses/PreconditionFailedError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /pairs:
    get:
      tags: [pairs]
      summary: Список пар
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /pairs/{pairId}/block:
    post:
      tags: [pairs]
      summary: Заблокировать пару
      parameters:
        - in: path
          name: pairId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pair:
                    $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /pairs/{pairId}/unblock:
    post:
      tags: [pairs]
      summary: Разблокировать пару
      parameters:
        - in: path
          name: pairId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pair:
                    $ref: '#/components/schemas/Pair'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /practices:
    get:
      tags: [library]
      summary: Каталог практик
      parameters:
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: lang
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Practice'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /practices/{practiceId}:
    get:
      tags: [library]
      summary: Детали практики
      parameters:
        - in: path
          name: practiceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  practice:
                    $ref: '#/components/schemas/Practice'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /patterns:
    get:
      tags: [patterns]
    
      summary: Публичные паттерны
      parameters:
        - in: query
          name: hardwareVersion
          schema:
            type: integer
        - in: query
          name: kind
          schema:
            type: string
        - in: query
          name: tags
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pattern'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [patterns]
      summary: Создать пользовательский паттерн
      description: |
        При создании паттерна с полем `public: true` ему автоматически присваивается статус модерации `reviewStatus: "pending"`.
        Такой паттерн не отображается в публичном каталоге до одобрения администратором.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  pattern:
                    $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /patterns.mine:
    get:
      tags: [patterns]
      summary: Мои паттерны
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /patterns/{id}:
    get:
      tags: [patterns]
      summary: Детали паттерна
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pattern:
                    $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    patch:
      tags: [patterns]
      summary: Обновить паттерн
      description: |
        Для публичных паттернов при изменении полей, влияющих на контент (например, `spec`, `title`, `public` и др.),
        статус модерации автоматически сбрасывается на `reviewStatus: "pending"`. До повторного одобрения паттерн
        временно пропадает из публичного каталога.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pattern:
                    $ref: '#/components/schemas/Pattern'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    delete:
      tags: [patterns]
      summary: Удалить паттерн
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /patterns/{patternId}/share:
    post:
      tags: [patterns]
      summary: Поделиться паттерном с партнёром
      description: |
        Паттерном можно делиться только после модерации. Требуется `reviewStatus: "approved"`.
        Иначе будет возвращена ошибка `failed_precondition (412)`.
      parameters:
        - in: path
          name: patternId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternShareRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  shared:
                    type: boolean
        '412': { $ref: '#/components/responses/PreconditionFailedError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /patterns/preview:
    post:
      tags: [patterns]
      summary: Предпросмотр паттерна на устройстве
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternPreviewRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  previewId:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /practices/{practiceId}/start:
    post:
      tags: [sessions]
      summary: Старт сессии практики
      parameters:
        - in: path
          name: practiceId
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PracticeStartRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /practices.session/{sessionId}/stop:
    post:
      tags: [sessions]
      summary: Остановка сессии
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PracticeStopRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    $ref: '#/components/schemas/PracticeSummary'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /stats/overview:
    get:
      tags: [stats]
      summary: Обзорная статистика
      parameters:
        - in: query
          name: range
          required: false
          schema:
            type: string
            enum: [day, week, month]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totals:
                    type: object
                  streaks:
                    type: object
                  range:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /rules:
    get:
      tags: [rules]
      summary: Список правил
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rule'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [rules]
      summary: Создать правило
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/Rule'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /rules/{ruleId}:
    patch:
      tags: [rules]
      summary: Обновить правило
      parameters:
        - in: path
          name: ruleId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/Rule'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    delete:
      tags: [rules]
      summary: Удалить правило
      parameters:
        - in: path
          name: ruleId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /webhooks/{integrationKey}:
    post:
      tags: [webhooks]
      summary: Входящий вебхук триггера
      security: []
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /notifications.tokens:
    post:
      tags: [notifications]
      summary: Зарегистрировать FCM‑токен
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FcmTokenAddRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    delete:
      tags: [notifications]
      summary: Отвязать FCM‑токен
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FcmTokenDeleteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /ota/firmware/latest:
    get:
      tags: [ota]
      summary: Проверка обновления прошивки
      parameters:
        - in: query
          name: hardware
          required: true
          schema:
            type: integer
        - in: query
          name: currentFirmware
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content — обновление не требуется
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareInfo'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /devices/{deviceId}/firmware/report:
    post:
      tags: [ota]
      summary: Отчёт об установке прошивки
      parameters:
        - in: path
          name: deviceId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareReportRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /telemetry/events:
    post:
      tags: [telemetry]
      summary: Пакет событий телеметрии
      parameters:
        - in: header
          name: X-Device-Id
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryEventsRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetryAcceptedResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/practices:
    get:
      tags: [admin]
      summary: Модерация контента (фильтр по статусу)
      description: |
        Доступно администраторам (`admin: true`) и модераторам (`moderator: true`).
      x-roles:
        - admin
        - moderator
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: OK
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    post:
      tags: [admin]
      summary: Создать/обновить контент практик
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/patterns:
    get:
      tags: [admin]
      summary: Список паттернов для модерации
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: query
          name: reviewStatus
          schema:
            type: string
            enum: [pending, approved, rejected]
        - in: query
          name: kind
          schema:
            type: string
            enum: [light, haptic, combo]
        - in: query
          name: tags
          schema:
            type: string
        - in: query
          name: hardwareVersion
          schema:
            type: integer
            enum: [100, 200]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pattern'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/patterns/{id}:
    get:
      tags: [admin]
      summary: Получить паттерн (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
    patch:
      tags: [admin]
      summary: Редактировать паттерн (админ)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
    delete:
      tags: [admin]
      summary: Удалить паттерн (админ)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
  /admin/patterns/{id}/review:
    post:
      tags: [admin]
      summary: Апрув/реджект пользовательского паттерна
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [approve, reject]
                reason:
                  type: string
              required: [action]
      responses:
        '200':
          description: OK
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/devices:
    get:
      tags: [admin]
      summary: Поиск устройств
      parameters:
        - in: query
          name: ownerId
          schema:
            type: string
        - in: query
          name: serial
          schema:
            type: string
        - in: query
          name: hardwareVersion
          schema:
            type: integer
        - in: query
          name: status
          schema:
            type: string
            enum: [online, offline, charging, error, banned]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/devices/{deviceId}/ban:
    post:
      tags: [admin]
      summary: Заблокировать устройство (админ)
      parameters:
        - in: path
          name: deviceId
          required: true
          schema:
            type: string
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
  /admin/firmware:
    post:
      tags: [admin]
      summary: Публикация новой прошивки (метаданные)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version: { type: string }
                hardwareVersion: { type: integer, enum: [100, 200] }
                notes: { type: string }
                url: { type: string }
                checksum: { type: string }
                minFirmwareVersion: { type: string }
                maxFirmwareVersion: { type: string }
              required: [version, hardwareVersion, url, checksum]
      responses:
        '201':
          description: Created
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    get:
      tags: [admin]
      summary: Список прошивок (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FirmwareInfo'
                  nextCursor:
                    type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/stats/overview:
    get:
      tags: [admin]
      summary: Общая статистика (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStatsOverviewResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/stats/aggregate:
    post:
      tags: [admin]
      summary: Ручная агрегация статистики (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/roles/assign:
    post:
      tags: [admin]
      summary: Назначить/отозвать роль пользователю (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uid: { type: string }
                role: { type: string, enum: [admin, moderator] }
                value: { type: boolean }
              required: [uid, role]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/roles/users:
    get:
      tags: [admin]
      summary: Пользователи с ролью (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: query
          name: role
          required: true
          schema:
            type: string
            enum: [admin, moderator]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/roles/{uid}:
    get:
      tags: [admin]
      summary: Роли пользователя (админ)
      description: |
        Требуется роль администратора (`admin: true`).
      x-roles:
        - admin
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserRolesResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/versions:
    post:
      tags: [admin]
      summary: Создать новую версию секрета вебхука
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      secretPreview:
                        type: string
                      fullSecret:
                        type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }
    get:
      tags: [admin]
      summary: Список версий секретов вебхука
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      rotationEnabled:
                        type: boolean
                      rotationIntervalDays:
                        type: integer
                        nullable: true
                      lastRotationAt:
                        type: string
                        format: date-time
                        nullable: true
                      nextRotationAt:
                        type: string
                        format: date-time
                        nullable: true
                      versions:
                        type: array
                        items:
                          type: object
                          properties:
                            version:
                              type: integer
                            isActive:
                              type: boolean
                            createdAt:
                              type: string
                              format: date-time
                            activatedAt:
                              type: string
                              format: date-time
                              nullable: true
                            deactivatedAt:
                              type: string
                              format: date-time
                              nullable: true
                            usageCount:
                              type: integer
                            lastUsedAt:
                              type: string
                              format: date-time
                              nullable: true
                            secretPreview:
                              type: string
                              nullable: true
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/versions/{version}/activate:
    post:
      tags: [admin]
      summary: Активировать версию секрета (ротация)
      description: |
        Активирует указанную версию секрета как текущую для интеграции.
        Предыдущий активный секрет продолжает считаться валидным в течение ограниченного периода (grace period)
        после активации, чтобы обеспечить плавную миграцию клиентов. В течение grace period запросы,
        подписанные старым секретом, продолжают приниматься (например, могут возвращать 202 Accepted);
        по истечении периода старый секрет становится недействительным.
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
        - in: path
          name: version
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      version:
                        type: integer
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/rotation/enable:
    post:
      tags: [admin]
      summary: Включить автоматическую ротацию секретов
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                intervalDays:
                  type: integer
                  minimum: 1
              required: [intervalDays]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
                      intervalDays:
                        type: integer
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/{integrationKey}/rotation/disable:
    post:
      tags: [admin]
      summary: Отключить автоматическую ротацию секретов
      parameters:
        - in: path
          name: integrationKey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      integrationKey:
                        type: string
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /admin/webhook-secrets/audit:
    get:
      tags: [admin]
      summary: Журнал аудита операций с секретами вебхуков
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
        - in: query
          name: integrationKey
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      logs:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/export:
    post:
      tags: [privacy]
      summary: Запросить экспорт персональных данных
      responses:
        '200':
          description: OK (задача уже существует)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyExportCreateResponse'
        '202':
          description: Accepted (создана новая задача экспорта)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyExportCreateResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/export/{jobId}:
    get:
      tags: [privacy]
      summary: Получить статус экспорта данных
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyExportStatusResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/delete:
    post:
      tags: [privacy]
      summary: Запросить удаление персональных данных
      responses:
        '200':
          description: OK (задача уже существует)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyDeletionCreateResponse'
        '202':
          description: Accepted (создана новая задача удаления данных)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyDeletionCreateResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/audit:
    get:
      tags: [privacy]
      summary: Получить журнал аудита операций с данными
      parameters:
        - in: query
          name: operation
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

  /privacy/rights:
    get:
      tags: [privacy]
      summary: Получить информацию о правах пользователя (privacy)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRightsResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/TooManyRequestsError' }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID Token
    AppCheck:
      type: apiKey
      in: header
      name: X-Firebase-AppCheck
      description: App Check Token
  schemas:
    Timestamp:
      oneOf:
        - type: string
          format: date-time
        - type: object
          properties:
            _seconds:
              type: integer
            _nanoseconds:
              type: integer
          required: [_seconds, _nanoseconds]
      description: |
        Метка времени может сериализоваться как строка ISO 8601 или как объект Firestore Timestamp `{ _seconds, _nanoseconds }`.
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
    TelemetryAcceptedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            accepted:
              type: integer
    PrivacyExportCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            jobId:
              type: string
            status:
              type: string
            estimatedCompletionTime:
              type: string
              description: Примерное время готовности, например "24 hours"
    PrivacyExportStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            jobId:
              type: string
            status:
              type: string
            createdAt:
              $ref: '#/components/schemas/Timestamp'
            downloadUrl:
              type: string
              nullable: true
            fileSize:
              type: integer
              nullable: true
            errorMessage:
              type: string
              nullable: true
            expiresAt:
              $ref: '#/components/schemas/Timestamp'
    PrivacyRightsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            userId:
              type: string
            rights:
              type: object
              properties:
                dataExport:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                dataDeletion:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                    warning: { type: string }
                dataPortability:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    format: { type: string }
                dataRectification:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                dataRestriction:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
                auditLog:
                  type: object
                  properties:
                    available: { type: boolean }
                    description: { type: string }
                    endpoint: { type: string }
            lastUpdated:
              type: string
              format: date-time
            compliance:
              type: object
              properties:
                gdpr: { type: boolean }
                ccpa: { type: boolean }
                coppa: { type: boolean }
    PrivacyDeletionCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            jobId:
              type: string
            status:
              type: string
            estimatedCompletionTime:
              type: string
              description: Примерное время завершения (например, "7 days")
            warning:
              type: string
  responses:
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ForbiddenError:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFoundError:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    AlreadyExistsError:
      description: Conflict / Already Exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PreconditionFailedError:
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequestsError:
      description: Too Many Requests
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ResourceExhaustedError:
      description: Too Many Requests (кулдаун на отправку объятий)
      headers:
        Retry-After:
          schema:
            type: integer
          description: Секунды до следующей разрешенной отправки
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    HugsPreconditionFailedError:
      description: Precondition Failed (недопустимая отправка объятия)
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  details:
                    type: object
                    properties:
                      reason:
                        type: string
                        enum: [self_send, pair_blocked]
                        description: Причина отказа — отправка самому себе или пара заблокирована
    User:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        avatarUrl:
          type: string
        timezone:
          type: string
        language:
          type: string
        consents:
          type: object
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
    UserInitRequest:
      type: object
      description: |
        Все поля необязательны. Пустое тело `{}` допустимо и корректно инициализирует профиль по умолчанию.
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 200
        timezone:
          type: string
          minLength: 1
          maxLength: 100
        language:
          type: string
          minLength: 2
          maxLength: 10
        consents:
          type: object
    UserUpdateRequest:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 200
        avatarUrl:
          type: string
          format: uri
          maxLength: 2000
        timezone:
          type: string
          minLength: 1
          maxLength: 100
        language:
          type: string
          minLength: 2
          maxLength: 10
        consents:
          type: object

    Device:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
        serial:
          type: string
        hardwareVersion:
          type: integer
        firmwareVersion:
          type: string
        name:
          type: string
        batteryLevel:
          type: number
        status:
          type: string
        pairedAt:
          $ref: '#/components/schemas/Timestamp'
        settings:
          type: object
          properties:
            brightness:
              type: number
            haptics:
              type: number
            gestures:
              type: object
    DeviceClaimRequest:
      type: object
      required: [serial, claimToken]
      properties:
        serial:
          type: string
        claimToken:
          type: string
        name:
          type: string
    DeviceUpdateRequest:
      type: object
      properties:
        name:
          type: string
        settings:
          type: object

    Hug:
      type: object
      properties:
        id:
          type: string
        fromUserId:
          type: string
        toUserId:
          type: string
        pairId:
          type: string
        emotion:
          type: object
          properties:
            color:
              type: string
            patternId:
              type: string
        payload:
          type: object
        inReplyToHugId:
          type: string
        deliveredAt:
          $ref: '#/components/schemas/Timestamp'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
    HugSendRequest:
      type: object
      description: At least one of toUserId or pairId must be provided.
      required: [emotion]
      anyOf:
        - required: [toUserId]
        - required: [pairId]
      properties:
        toUserId:
          type: string
        pairId:
          type: string
        emotion:
          type: object
          required: [color, patternId]
          properties:
            color:
              type: string
            patternId:
              type: string
        payload:
          type: object
        inReplyToHugId:
          type: string

    Pair:
      type: object
      properties:
        id:
          type: string
        memberIds:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, pending, blocked]
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        blockedBy:
          type: string
          description: UID пользователя, который инициировал блокировку
        blockedAt:
          $ref: '#/components/schemas/Timestamp'
    PairInviteRequest:
      type: object
      required: [method]
      properties:
        method:
          type: string
          enum: [link, qr, email]
        target:
          type: string
    PairAcceptRequest:
      type: object
      required: [inviteId]
      properties:
        inviteId:
          type: string

    Practice:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [breath, meditation, sound]
        title:
          type: string
        desc:
          type: string
        durationSec:
          type: integer
        patternId:
          type: string
        audioUrl:
          type: string
        locales:
          type: object
    PracticeStartRequest:
      type: object
      properties:
        deviceId:
          type: string
        intensity:
          type: number
        brightness:
          type: number
    PracticeStopRequest:
      type: object
      required: [completed]
      properties:
        completed:
          type: boolean
        durationSec:
          type: integer
    PracticeSummary:
      type: object
      properties:
        durationSec:
          type: integer
        completed:
          type: boolean

    Pattern:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
          nullable: true
          description: Может отсутствовать для системных (публичных) паттернов
        kind:
          type: string
          enum: [light, haptic, combo]
        spec:
          $ref: '#/components/schemas/PatternSpec'
        public:
          type: boolean
        reviewStatus:
          type: string
        hardwareVersion:
          type: integer
        title:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        usageCount:
          type: integer
        sharedWith:
          type: array
          items:
            type: string
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
    PatternSpec:
      type: object
      properties:
        type:
          type: string
          enum: [breathing, pulse, rainbow, fire, gradient, chase, custom]
        hardwareVersion:
          type: integer
          enum: [100, 200]
        duration:
          type: integer
        loop:
          type: boolean
        elements:
          type: array
          items:
            $ref: '#/components/schemas/PatternElement'
    # Полиморфный элемент паттерна
    PatternElement:
      oneOf:
        - $ref: '#/components/schemas/PatternElementGradient'
        - $ref: '#/components/schemas/PatternElementPulse'
        - $ref: '#/components/schemas/PatternElementBreathing'
        - $ref: '#/components/schemas/PatternElementChase'
        - $ref: '#/components/schemas/PatternElementColor'
        - $ref: '#/components/schemas/PatternElementCustom'
      discriminator:
        propertyName: type
        mapping:
          gradient: '#/components/schemas/PatternElementGradient'
          pulse: '#/components/schemas/PatternElementPulse'
          breathing: '#/components/schemas/PatternElementBreathing'
          chase: '#/components/schemas/PatternElementChase'
          color: '#/components/schemas/PatternElementColor'
          custom: '#/components/schemas/PatternElementCustom'
    # Базовые поля элемента
    PatternElementBase:
      type: object
      properties:
        startTime:
          type: integer
          minimum: 0
        duration:
          type: integer
          minimum: 1
        intensity:
          type: number
          minimum: 0
          maximum: 1
        speed:
          type: number
          minimum: 0
          maximum: 10
        params:
          type: object
          description: Параметры элемента, зависящие от типа
      required: [startTime, duration]
      additionalProperties: false
    PatternElementGradient:
      allOf:
        - $ref: '#/components/schemas/PatternElementBase'
        - type: object
          properties:
            type:
              type: string
              enum: [gradient]
            params:
              type: object
              properties:
                colors:
                  type: array
                  items:
                    type: string
                  minItems: 2
                direction:
                  type: string
                  enum: [clockwise, counterclockwise, center, outward]
                leds:
                  type: array
                  items:
                    type: integer
              required: [colors]
          additionalProperties: false
    PatternElementPulse:
      allOf:
        - $ref: '#/components/schemas/PatternElementBase'
        - type: object
          properties:
            type:
              type: string
              enum: [pulse]
            params:
              type: object
              properties:
                color:
                  type: string
              required: [color]
          additionalProperties: false
    PatternElementBreathing:
      allOf:
        - $ref: '#/components/schemas/PatternElementBase'
        - type: object
          properties:
            type:
              type: string
              enum: [breathing]
            params:
              type: object
              properties:
                color:
                  type: string
              required: [color]
          additionalProperties: false
    PatternElementChase:
      allOf:
        - $ref: '#/components/schemas/PatternElementBase'
        - type: object
          properties:
            type:
              type: string
              enum: [chase]
            params:
              type: object
              properties:
                color:
                  type: string
                leds:
                  type: array
                  items:
                    type: integer
              required: [color]
          additionalProperties: false
    PatternElementColor:
      allOf:
        - $ref: '#/components/schemas/PatternElementBase'
        - type: object
          properties:
            type:
              type: string
              enum: [color]
            params:
              type: object
              properties:
                color:
                  type: string
              required: [color]
          additionalProperties: false
    PatternElementCustom:
      allOf:
        - $ref: '#/components/schemas/PatternElementBase'
        - type: object
          properties:
            type:
              type: string
              enum: [custom]
            params:
              type: object
              properties:
                color:
                  type: string
                colors:
                  type: array
                  items:
                    type: string
                  minItems: 1
              anyOf:
                - required: [color]
                - required: [colors]
          required: [type]
          additionalProperties: false
    PatternCreateRequest:
      type: object
      required: [kind, spec, hardwareVersion]
      properties:
        kind:
          type: string
        spec:
          $ref: '#/components/schemas/PatternSpec'
        title:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        public:
          type: boolean
        hardwareVersion:
          type: integer
    PatternUpdateRequest:
      type: object
      properties:
        kind:
          type: string
        spec:
          $ref: '#/components/schemas/PatternSpec'
        title:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        public:
          type: boolean
    PatternShareRequest:
      type: object
      properties:
        toUserId:
          type: string
        pairId:
          type: string
    PatternPreviewRequest:
      type: object
      required: [deviceId, spec]
      properties:
        deviceId:
          type: string
        spec:
          $ref: '#/components/schemas/PatternSpec'
        duration:
          type: integer

    Rule:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
        trigger:
          $ref: '#/components/schemas/RuleTrigger'
        action:
          $ref: '#/components/schemas/RuleAction'
        enabled:
          type: boolean
        schedule:
          type: object
    RuleTrigger:
      type: object
      properties:
        type:
          type: string
        params:
          type: object
    RuleAction:
      type: object
      properties:
        type:
          type: string
        params:
          type: object
    RuleCreateRequest:
      type: object
      required: [trigger, action, enabled]
      properties:
        trigger:
          $ref: '#/components/schemas/RuleTrigger'
        action:
          $ref: '#/components/schemas/RuleAction'
        schedule:
          type: object
        enabled:
          type: boolean
    RuleUpdateRequest:
      type: object
      properties:
        trigger:
          $ref: '#/components/schemas/RuleTrigger'
        action:
          $ref: '#/components/schemas/RuleAction'
        schedule:
          type: object
        enabled:
          type: boolean

    FcmTokenAddRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
        platform:
          type: string
          enum: [ios, android, web]
    FcmTokenDeleteRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string

    FirmwareInfo:
      type: object
      properties:
        version:
          type: string
        notes:
          type: string
        url:
          type: string
        checksum:
          type: string
        size:
          type: integer
        updateAvailable:
          type: boolean
    FirmwareReportRequest:
      type: object
    AdminStatsOverviewResponse:
      type: object
      properties:
        users:
          type: object
          properties:
            total: { type: integer }
            activeToday: { type: integer }
            newToday: { type: integer }
        devices:
          type: object
          properties:
            total: { type: integer }
            online: { type: integer }
            newToday: { type: integer }
        patterns:
          type: object
          properties:
            total: { type: integer }
            public: { type: integer }
            newToday: { type: integer }
        practices:
          type: object
          properties:
            total: { type: integer }
            active: { type: integer }
            newToday: { type: integer }
        firmware:
          type: object
          properties:
            total: { type: integer }
            published: { type: integer }
            newToday: { type: integer }
        activity:
          type: object
          properties:
            hugs:
              type: object
              properties:
                today: { type: integer }
                week: { type: integer }
            sessions:
              type: object
              properties:
                today: { type: integer }
                week: { type: integer }
        overview:
          type: object
          properties:
            totalUsers: { type: integer }
            totalDevices: { type: integer }
            totalPatterns: { type: integer }
            totalPractices: { type: integer }
            totalFirmware: { type: integer }
            activeUsersToday: { type: integer }
            newUsersToday: { type: integer }
            hugsToday: { type: integer }
            sessionsToday: { type: integer }
        lastUpdated:
          oneOf:
            - type: string
              format: date-time
            - $ref: '#/components/schemas/Timestamp'
          nullable: true
        aggregationPeriod:
          type: string
        nextUpdate:
          oneOf:
            - type: string
              format: date-time
            - $ref: '#/components/schemas/Timestamp'
          nullable: true
    AdminUserRolesResponse:
      type: object
      properties:
        uid: { type: string }
        roles:
          type: object
          additionalProperties:
            type: boolean
      required: [fromVersion, toVersion, status]
      properties:
        fromVersion:
          type: string
        toVersion:
          type: string
        status:
          type: string
          enum: [success, failed, cancelled]
        errorCode:
          type: string
        errorMessage:
          type: string

    TelemetryEventsRequest:
      type: object
      required: [events]
      properties:
        events:
          type: array
          items:
            type: object
            required: [type, timestamp]
            properties:
              type:
                type: string
              timestamp:
                type: integer
                description: Unix timestamp in milliseconds
              params:
                type: object
              sessionId:
                type: string
              practiceId:
                type: string


